{
  "extends": "airbnb",
  "env": {
    "jest": true,
    "jasmine": true
  },
	"settings": {
		"import/resolver": {
			"babel-module-alias": {}
		}
	},
  "rules": {
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "camelcase": [0, {"properties": "never"}],
		"no-underscore-dangle": ["error", { "allow": ["_meta", "_type"] }],
		"react/prefer-stateless-function": 0,
		"no-restricted-syntax": 1,
		"no-debugger": 1,
		"jsx-a11y/img-has-alt": 2,
		"jsx-a11y/onclick-has-role": 2,
    "jsx-a11y/mouse-events-have-key-events": 2,
    "jsx-a11y/no-onchange": 0,
    "jsx-a11y/no-access-key": 2,
    "jsx-a11y/label-has-for": 2,
    "jsx-a11y/img-redundant-alt": 2,
    "jsx-a11y/href-no-hash": 2,
    "max-len": [2, {"code": 200, "tabWidth": 2, "ignoreUrls": true, "ignorePattern": ^\\s*var\\s.+=\\s*require\\s*\\}]
  },
  "plugins": [
    "jsx-a11y"
  ],
  "parserOptions": {
    "ecmaFeatures": {
        "experimentalObjectRestSpread": true
    }
  }
}
